# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Python
.venv/
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Build files
dist/
build/

*.pdf
*.zip